* {
    margin: 0;
    padding: 0;
    height: auto;
}

.all {
    background-image: url('../img/bg1.jpg') ;
    background-size: cover;
}

.title {
    padding-top: 2.2rem;
    text-align: center;
    color: rgb(6, 44, 44);
}

.title h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.title h1 span {
    color: rgb(78, 156, 156);
}

.title p {
    font-size: 1.5rem;
    font-weight: 700;
}

/* App.css */
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 100px 100px;
}

.form-grid div {
    display: flex;
    flex-direction: column;
}

.form-grid label {
    color: #138c78;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-grid input,
.form-grid select,
.form-grid textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-grid .biography {
    grid-column: span 2;
}

button {
    grid-column: span 2;
    padding: 10px 20px;
    background-color: #0c0c0c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 5;
    transition: 0.3s;
}

button:hover {
    background-color: #004d40;
}

button:active {
    scale: 0.9;
}

.upload-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    font-family: Arial, sans-serif;
}

h2 {
    color:  #1c7a6b;
    margin-bottom: 20px;
}

.upload-box {
    width: 300px;
    height: 200px;
    border: 2px dashed #004d40;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f5faff;
}

.upload-icon {
    color: #1c7a6b;
    font-size: 40px;
    cursor: pointer;
}

.preview {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.gender-select {
    outline: none;
    cursor: pointer;
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #1c7a6b;
    background-color: #afdfdf;
    color: #1c7a6b;
}

@media(max-width: 1060px) {
    .main {
        flex-direction: column;
        justify-content: center;
    }
    .upload-photo-container {
        margin: 0 ;
        padding-bottom: 50px;
    }
    .form-grid {
        margin: 0;
    }
    .title {
        padding-bottom: 50px;
    }
    .form-grid {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}

@media(max-width: 350px) {
    .form-grid {
        width: 200px;
    }
    .upload-box {
        width: 200px;
    }
}